@font-face {
    font-family: digikala;
    src: url("../fonts/icons.eot"),
        url("../fonts/icons.woff2"),
        url("../fonts/icons.woff"),
        url("../fonts/icons.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 100;
    src: url("../fonts/yekan.eot"),
        url("../fonts/yekan.woff"),
        url("../fonts/yekan.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 400;
    src: url("../fonts/yekanRegular.eot"),
        url("../fonts/yekanRegular.woff"),
        url("../fonts/yekanRegular.ttf");
}

/* <-- Utilities START --> */

.lh-0 {
    line-height: 0 !important;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-90 {
    width: 80%;
}

.h-500{
    height: 500px !important;
}
.h-180{
    height: 180px !important;
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .8rem;
}


/* <-- Utilities END --> */




/* <-- Bootstrap Overrides START --> */
.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 10px !important;
    border-radius: 50%;
}

.card-img-top{
    width: 180px;
    text-align: center;
    margin: auto;
}

/* <-- Bootstrap Overrides END --> */




* {

    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "yekan";
    direction: rtl;
}

/* <-- Header - Navbar START --> */

header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 4%) 0 7px 8px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 10px 2px 15px;
}

.nav-search {
    background-color: #f0f0f1;
    padding: 8px 28px;
    border-radius: 5px !important;
    font-size: 14px;
}

.search-icon {
    top: 10px;
    right: 31px;
    z-index: 1;
}

.seperator {
    display: inline-block;
    border-right: 1px solid #e0e0e2;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

.menu {
    margin-top: 10px;
    margin-bottom: 0;
}

.menu .menu-link {
    color: #616161;
    font-size: 12px;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .5s ease;
}

.menu .menu-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ef5166;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
}

.menu .menu-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .menu-link i {
    line-height: 0 !important;
}

.categories{
    display: none;
    transition: all .5s ease;
}

.submenu {
    background-color: #fff;
    color: #000;
    position: absolute;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
    padding: 12px;
    top: 113px;
    right: 4px;
    transition: all .6s ease;
}

.menu .submenu ul li.submenu-item .submenu-menu {
    display: none;
}

.menu .menu-item .submenu-menu{
    display: none;
}


.submenu .submenu-link {
    padding: 5px 0;
    display: flex;
}

.bi-wrench-adjustable {
    transform: scaleX(-1);
}

.submenu ul {
    background-color: #f7f7f7;
    padding: 10px 15px 10px 0;
    font-size: 13px;
}

.submenu li {
    transition: all .2s ease;
    padding: 10px 10px 10px 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.submenu li:hover {
    background-color: #fff;
}

.submenu ul li:hover > .submenu-link {
    color: #ef5166;
}


.submenu-menu {
    width: 830px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .15);
    padding: 12px;
    right: 223px;
    top: 1px;
    font-size: 12px;
}

.submenu-menu a{
    display: flex;
    padding: 5px;
    transition: all .2s ease;
}

.submenu-menu a:hover{
    color: #ef5166;
}


.menu > .category:hover > .categories{
    display: block;
}

.menu .submenu ul li.submenu-item:hover .submenu-menu{
    display: block;
}

.menu .menu-item:hover .submenu-menu{
    display: block;
}



/* <-- Header - Navbar END --> */




/* <-- Baners START --> */

.banners {
    padding-top: 145px !important;
}



/* <-- Baners END --> */





/* <-- Suggested Products START --> */


.suggested-products{
    background-color: #ef396e;
}

.suggested-products-2{
    background-color: #6bb927;
}

.suggested-products-2 .suggestion-bg , .suggested-products .suggestion-bg{
    background:url('../images/special_bg.svg') no-repeat;
    padding: 40px 0;
    background-position: 90%;
    background-size: auto 100%;
}


/* <-- Suggested Products END --> */
